/* image */
.img404 {
  display: block;
  margin: auto;
}

/* headers and message */
.h1 {
  font-size: 3rem;
  text-align: center;
  color: #42b983;
}

.message404 {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

/* container */
.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* buttons */
.btnSuccessSm {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
  margin: 2rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border-style: none;
  transition: opacity 0.2s ease-in-out;
}
